<div class="container">
  <div class="row">
    <form action="/products/search" method="post">
        <div class="input-field">
            <input name="searchKeyword" id="search" type="search" placeholder="Search for an item..." required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>
    </form>
  </div>
</div>
<div class="container" >
  <div class="row">
    <button class="btn btn-info" id="lth">Price: low-high</button>
    <button class="btn btn-info" id="htl">Price: high-low</button>
  </div>
</div>

<div id="products" class="row container">
  <div class = "row">
  </div>
</div>

<!-- float button -->
<div class="fixed-action-btn">
    {{#if sess.user}}
    <span id="cart-number" class="bubble">{{sess.user.cart.length}}</span>
    {{else}}
    <span id="cart-number" class="bubble">0</span>
    {{/if}}
    <a href="/products/cart" class="btn-floating btn-large red">
        <i class="large material-icons">shopping_cart</i>
    </a>
</div>
<script src="/javascripts/category.js"></script>
